<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Employee Search</title>
    </h:head>
    <h:body>
        <h2>HR Employee Search.</h2>
        <h:form>
            <h3>Search Employee</h3>
            <hr />
            <table>
                <tr>
                    <td>ID:</td>
                    <td><h:inputText size="15" value="#{employee.searchId}" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><h:commandButton value="Search Employee"
                                         action="#{employee.employeeSearch}" /></td>
                </tr>
            </table>

        </h:form>
    </h:body>

</html>