<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:f = "http://java.sun.com/jsf/core"
      xmlns:h = "http://java.sun.com/jsf/html">

    <h:head>
        <title>HR Leads!</title>
        <h:outputStylesheet library = "css" name = "styles.css"  /> 
    </h:head>

    <h:body>
        <h2>HR Employee Search.</h2>
        <h:form>
            <h3>Search Employee</h3>
            <hr />
            <table>
                <tr>
                    <td>ID:</td>
                    <td><h:inputText size="15" value="#{employee.searchId}" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><h:commandButton value="Search Employee"
                                         action="#{employee.employeeSearch}" /></td>
                </tr>
            </table>
        </h:form>


        <h2>HR Leads Example</h2>

        <h:dataTable value = "#{employee.allEmployee}" var = "emp"
                     styleClass = "authorTable"
                     headerClass = "authorTableHeader"
                     rowClasses = "authorTableOddRow,authorTableEvenRow">

            <h:column><f:facet name = "header">Employee ID</f:facet>
                    #{emp.ID}
            </h:column>
            <h:column><f:facet name = "header">First Name</f:facet>
                    #{emp.firstName}
            </h:column>
            <h:column><f:facet name = "header">Last Name</f:facet>
                    #{emp.lastName}
            </h:column>
            <h:column><f:facet name = "header">Division</f:facet>
                    #{emp.division}
            </h:column>
            <h:column><f:facet name = "header">Building</f:facet>
                    #{emp.building}
            </h:column>
            <h:column><f:facet name = "header">Title</f:facet>
                    #{emp.title}
            </h:column>
            <h:column><f:facet name = "header">Room</f:facet>
                    #{emp.room}
            </h:column>
        </h:dataTable>
    </h:body>

</html>